.events--container {
    border: 1px solid rgb(192, 190, 190);
    border-radius: 8px;
    background: white;
    padding-bottom: 0.6rem;
    margin-bottom: 1rem;
}
.events--cat button {
    font-size: 1.3rem;
    color: grey;
    min-width: 230px;
    text-align: left;
}

.events--cat {
    flex-wrap: nowrap;
    height: 4rem;
    overflow-x: scroll;
    overflow-y: hidden;
}

.events--cat ::-webkit-scrollbar,
.events--subcat ::-webkit-scrollbar {
    width: 1px;
}
.events--cat ::-webkit-scrollbar-track,
.events--subcat ::-webkit-scrollbar-track {
    background-color: transparent;
}
.events--cat ::-webkit-scrollbar-thumb,
.events--subcat ::-webkit-scrollbar-thumb {
    background-color: rgb(46, 45, 45);
}
.events--cat ::-webkit-scrollbar-thumb:hover,
.events--subcat ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(7, 7, 7);
}
.events--cat img {
    width: 20px;
    margin-right: 5px;
}
.events--subcat {
    background: #fafafa;
    flex-wrap: nowrap;
    border-width: 1px 0;
    border-color: rgba(167, 167, 167, 0.672);
    border-style: solid;
    overflow-y: hidden;
    overflow-x: scroll;
}
.events--subcat button {
    font-size: 1.3rem;
    min-width: 220px;
}
.events--subcat button:not(.active) {
    font-weight: 300;
}
.events--body {
}
