.event--card {
    min-width: 400px;
    max-width: 420px;
    flex: 1;
    height: 500px;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 1px 1px 5px 0px #3f3d3d47, -1px -1px 5px 0px #3f3d3d47;
    overflow: hidden;
    flex-wrap: nowrap;
}
.event--card__header {
}
.event--card__header img {
    width: 100%;
}
.event--card__body {
    flex: 1;
    width: 100%;
}
.event--card__body h4 {
    margin-bottom: 0;
}

.event--card__footer {
    min-height: 4rem;
    max-height: 4rem;
    flex: 1;
    border-top: 1px solid lightgray;
    justify-content: space-between;
}
.event--card__footer > div:first-child {
    height: 3rem;
    padding-right: 0;
    padding-top: 0;
    /* max-width: 200px; */
}
.avatars {
    height: 2rem;
}
.avatars img {
    height: 2rem;
    width: 2rem;
    border-radius: 3rem;
    object-fit: cover;
}
.event--card__footer > div:first-of-type > div:nth-child(2) {
    font-size: 0.8rem;
    color: grey;
}
.event--card__footer button {
    position: relative;
    background-color: #fbaf7c;
    color: white;
    width: 120px;
    height: 2rem;
    font-size: 0.8rem;
    margin-left: auto;
}

.event--card__footer button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-left-color: white;
}
.event__short__desc {
    height: 80px;
    width: 100%;
    overflow: scroll;
}

.event--body__tags {
    row-gap: 0.8rem;
}
.event--body__tags span {
    font-size: 0.8rem;
    border-radius: 2px;
}

.event__short__desc p {
    width: 100%;
    color: grey;
    font-weight: 500;
    font-size: 0.8rem;
}

@media only screen and (max-width: 730px) {
    .event--card {
        min-width: 95%;
    }
}
@media screen and (max-width: 420px) {
    .avatars img {
        width: 1.5rem;
        height: 1.5rem;
    }
    .avatars + span {
        display: inline-block;
        max-width: 120px;
        font-size: 0.8rem;
    }
}
