body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.active.active.active.active {
    color: #fa7328;
    font-weight: 550;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.df {
    display: flex;
    flex-wrap: wrap;
}
.fdc {
    flex-direction: column;
}
.jcc {
    justify-content: center;
}
.aic {
    align-items: center;
}

.mt-1.mt-1.mt-1.mt-1 {
    margin-top: 0.2rem;
}
.mt-2.mt-2.mt-2.mt-2 {
    margin-top: 0.4rem;
}
.mt-3.mt-3.mt-3.mt-3 {
    margin-top: 0.8rem;
}
.mt-4.mt-4.mt-4.mt-4 {
    margin-top: 1.6rem;
}
.ml-1.ml-1.ml-1.ml-1 {
    margin-left: 0.2rem;
}
.ml-2.ml-2.ml-2.ml-2 {
    margin-left: 0.4rem;
}
.ml-3.ml-3.ml-3.ml-3 {
    margin-left: 0.8rem;
}
.ml-4.ml-4.ml-4.ml-4 {
    margin-left: 1.6rem;
}
.mr-1.mr-1.mr-1.mr-1 {
    margin-right: 0.2rem;
}
.mr-2.mr-2.mr-2.mr-2 {
    margin-right: 0.4rem;
}
.mr-3.mr-3.mr-3.mr-3 {
    margin-right: 0.8rem;
}
.mr-4.mr-4.mr-4.mr-4 {
    margin-right: 1.6rem;
}
.mx-auto {
    margin: 0 auto;
}

.p-1 {
    padding: 0.2rem;
}
.p-2 {
    padding: 0.4rem;
}
.p-3 {
    padding: 0.8rem;
}
.p-4 {
    padding: 1.6rem;
}

.tag {
    background: #eee;
    cursor: pointer;
}
